@page "/"
@using SixLabors.ImageSharp.PixelFormats
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Png
@using SixLabors.Fonts
@using System.Diagnostics
@using SixLabors.ImageSharp.Drawing.Processing
@using SixLabors.ImageSharp.Processing
@inject IJSRuntime JsRuntime
<div class="slidecontainer">
    <label for="delta">Frame size @FrameSize</label>
    <input type="range" step="25" min="25" max="100" class="slider" id="frameSize" @bind="@FrameSize">
</div>
<input class="mb-2" type="file" id="addMap" onchange="addMap(this)">
<div>
    <button class="btn btn-primary" @onclick="Classify">Classify</button>
    <button class="btn btn-primary" @onclick="LogTask">LogTask</button>
    <table>
        <thead>
        <tr>
            <th>Клас</th>
            <th>Зображення</th>
            <th>Опції</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rc in RecognitionClasses)
        {
            <tr>
                <td>
                    Recognition class @(RecognitionClasses.IndexOf(rc))
                </td>
                <td>
                    <img src="@rc.DataUrl" style="width:@(FrameSize * 2)px; height:@(FrameSize * 2)px"/>
                </td>
                <td>
                    <button class="btn bg-danger" @onclick="() => DeleteRecognitionClass(rc)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div id="map_container">
    <canvas id="source"></canvas>
</div>
@if (!string.IsNullOrWhiteSpace(ResultBase64))
{
    <div>
        <img src="@ResultBase64"/>
    </div>
}


@code{

    private int FrameSize { get; set; } = 50;

    private List<RecognitionClass> RecognitionClasses { get; set; } = new();

    private string ResultBase64 { get; set; }

    private Image<Rgba32>? BaseImage;
    private Font _font;

    protected override void OnInitialized()
    {
    //var resourceName = $"{Assembly.GetExecutingAssembly().GetName().Name}.Fonts.OpenSans-Regular.ttf";
    //var fontStream = Assembly.GetExecutingAssembly().GetManifestResourceStream(resourceName);
    //var family = collection.Add(fontStream);
    //_font = family.CreateFont(12, FontStyle.Italic);

        JsService.ImageAreaSelected += AddRecognitionClass;
        JsService.SourceImageSelected += SetBaseImage;
    }

    private void SetBaseImage(ImageData imageData)
    {
        BaseImage = Image.LoadPixelData<Rgba32>(imageData.Data, imageData.Width, imageData.Height);
    }

    private void AddRecognitionClass(ImageData imageData)
    {
        var image = Image.LoadPixelData<Rgba32>(imageData.Data, imageData.Width, imageData.Height);

        var recognitionClass = new RecognitionClass(image)
        {
            DataUrl = image.ToBase64String(PngFormat.Instance)
        };


        RecognitionClasses.Add(recognitionClass);
        StateHasChanged();
    }


    private void DeleteRecognitionClass(RecognitionClass recognitionClass)
    {
        RecognitionClasses.Remove(recognitionClass);
    }

    void Fibonacci_Iterative(long len)
    {
        int a = 0, b = 1, c = 0;
        for (long i = 2; i < len; i++)
        {
            c = a + b;

            a = b;
            b = c;
        }
    }

    public void LogTask()
    {
        var sw = Stopwatch.StartNew();
        Fibonacci_Iterative(9999999999);
        Console.WriteLine(sw.Elapsed);
    }

    private void Classify()
    {
        var colors = new List<Color>
        {
            Color.Blue, Color.Orange, Color.Red, Color.Black
        };

        Classifier.Setup(RecognitionClasses.Select(x => x.Image).ToList(), FrameSize);

        Console.WriteLine("setup completed");

        if (BaseImage is not null)
        {
            var predictions = Classifier.ClassifyImage(BaseImage);

            Console.WriteLine("Predictions made");

            Image image = BaseImage.Clone();
            foreach (var prediction in predictions)
            {
                if (prediction.Class > -1)
                {
                    image.Mutate(x => x.DrawText(prediction.Class.ToString(), _font, colors[prediction.Class],
                        new PointF(prediction.X + FrameSize / 2, prediction.Y + FrameSize / 2)));
                }
            }

            ResultBase64 = image.ToBase64String(PngFormat.Instance);
            StateHasChanged();
        }
    }

}